<div class="titleblock map">
  <div class="center titleblock">
    <h1>Why Don't You Work Here:</h1>
    <h2>{{ name }}</h2>
    <div>{{ destination_address }}</div>
    <div>{{ city }}</div>
  </div>

  <div class="mapdiv, center">
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyC79P2ZFj_saak3KTkIFg0ggSXtLh7ShEM
        &origin={{user_address}}
        &destination={{destination_address}}+{{city}}">
    </iframe>
  </div>
</div>